.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.mes-wrapper {
	padding: 0px 3px 6px 3px;
	
	transform-origin: 0 0;
	transform: rotate(90deg);	
		
}
.mes-wrapper.mes-standed{
	transition: transform 1s;
	transform: rotate(0deg);
}
.chat-desk{
	padding: 0px 4px 0px 0px;
	margin-top: 350px;
}
.chat-wrapper{
	overflow: hidden;	
	width: 200px;
	height: 350px;
	border-radius: 15px;
}
/*.chat-box{
	width: 200px;
	border: 2px solid rgba(115, 77, 38, .6);
	border-radius: 15px;
}*/
.mess {
  width: 100%;
  max-width: 550px;
  border-radius: 15px 15px 15px 15px;
  background-color:#f8f2ec;
  padding: 1em;
  box-shadow:
   inset 0 0 100px rgba(115, 77, 38, .2),
   inset 0px 1px 5px #dfbf9f,
   inset 0px 2px 0px #d9b38c,
   inset 0px 2px 0px #d2a679,
   inset 0px 2px 0px #cc9966,
   inset 0px 3px 0px #c68c53,
   inset 0px 4px 0px #bf8040,
   inset 0px 3px 6px #ac7339,
   inset 0px 4px 7px #996633;
}
.myCanvas{
	transition: transform 1.2s;
}
.flipping{
	transform: rotate(180deg);
}
.boxShadow11 {
  width: 80%;
  max-width: 550px;
  margin: 1em auto;
  padding: 1em;
  box-shadow: 0 3px 3px #575555 inset; 
}
.btn-flat {
      background-color: rgba(160,82,45,.75);
      color: white;
    }
.btn-flat:hover{
	background-color: rgba(139,69,19,.55);
	color: white;
}
.btn-flat:focus{
	box-shadow:	none
}
/*	word-break: break-all;*/
.chat-box{
	width: 200px;
	border: 2px solid rgba(115, 77, 38, .45);
	border-radius: 15px;
	background: #FFEBCD radial-gradient(circle at 50% 0, rgba(255,255,255,.85),
rgba(255,255,255,.55));
	box-shadow: 0 3px 5px 1px rgba(139,69,19,.4) inset;}
.alert{

	display: inline-block;
	padding: 8px;
}
.base-error{
	
}
#canvasdiv{
	width:100%
}
.base-form{
	box-shadow: none;
	border-color: rgba(115, 77, 38, .4);
}
.form-control:focus{
	border-color: SaddleBrown;
}
.form-control:active{
	border-color: NavajoWhite;
}